/* General styles */
body {
    background-image: url("../img/index/background.png");
    background-attachment: fixed;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
#index-navbar {
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.index-navbar-item {
    font-family: Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}

.index-navbar-item:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 4px;
    border-radius: 6px;
}

.index-navbar-item:active {
    box-shadow: 0px 0px;
    padding-top: 8px;
    padding-bottom: 12px;
}

/* Top third */
#top-third-container {
    height: 40%;
}

.bubble-picture {
    display: block;
    width: 20%;
    margin: auto;
    padding: 50px;
}

h1.line {
    font-size: 100px;
    text-align: center;
    font-family: Helvetica;
    background: -webkit-linear-gradient(green, white);
    background: linear-gradient(green, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Mid third */

#middle-third-container {
    background-color: #cfcfcf;
    padding: 2%;
    box-shadow: 0 0 20px;
}

.mid-third-column {
    width: 20%;
    display: inline-block;
    color: #1f1f1f;
    font-family: Helvetica;
    background-color: #7ad06c;
    box-shadow: -4px 4px;
    margin: 1%;
    height: 200px;
    padding: 10px;
}

.mid-third-column h2 {
    text-align: center;
}

.mid-third-column ul {
    text-align: left;
}

.mid-third-column li {
    margin: 10px 0 10px 0;
}

/* Bottom third */

#bottom-third-title {
    background-color: #7ad06c;
    padding: 1% 1% 1% 2%;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    text-align: center;
}

#bottom-third-container {
    background-color: #cfcfcf;
    padding: 2%;
}

.section-left-column {
    width: 48%;
    float: left;
}

.column-header {
    padding: 1% 1% 1% 2%;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 24px;
    color: #1f1f1f;
}

.section-right-column {
    width: 48%;
    float: right;
}

#bottom-third-container::after {
    content: "";
    clear: both;
    display: table;
}

/* Recent Posts */

/* Recent Posts */
.recent-box {
    width: 100%;
    margin: 20px 0px 20px 0px;
    background-color: #7ad06c;
    border-radius: 4px;
    box-shadow: -6px 6px;
    padding: 8px;
}

.recent-posts-picture {
    width: 29%;
    float: left;
    box-shadow: 0 0 4px #191919;
}

.recent-box-text {
    width: 69%;
    float: right;
    font-family: Helvetica;
}

.recent-box-text h3 {
    /* aka title */
    display: inline;
}

.recent-box-text h6 {
    /* aka description  */
}

.recent-box:after {
    content: "";
    clear: both;
    display: table;
}

/* Column Divider */

.col-divide {
    border-left: 4px solid #1f1f1f;
    height: 70%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    border-radius: 20px;
}

/* Form */

.contact-form {
    width: 80%;
    margin-left: 2%;
}

.label-block {
    margin: 0;
    padding-top: 30px;
    display: block;
}

.label-inline {
    margin: 0;
    padding-top: 30px;
}

input,select,textarea {
    border-radius: 5px;
    padding: 6px;
    font-family: Helvetica;
    box-sizing: border-box;
    border: 2px solid #7ad06c;
}

input:focus {
    border: 2px solid #191919;
}

select:focus {
    border: 2px solid #191919;
}

textarea:focus {
    border: 2px solid #191919;
}

.form-inline  {
    display: inline-block;
    width: 40%;
}

.half-text {
    width: 100%;
}

.wide-text {
    width: 80%;
}

.long-text {
    height: 100px;
    resize: none;
    text-align: left;
}

/* Added GitHub thing */

.github-info {
    height: 100px;
    width: 90%;
    margin: 20px 0px 20px 0px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: -6px 6px;
    padding: 8px;
    font-family: Helvetica;
    margin-left: 2%;
}

.github-logo {
    height: 100%;
    float: left;
}

.github-h1 {
    display: inline;
    margin: auto;
}

.github-h6 {
    display: inline;
    margin: auto;
}

.github-a:link {
    text-decoration: none;
    color: #7ad06c;
}

.github-a:hover {
    text-decoration: none;
    color: #7ad06c;
}

.github-a:active {
    text-decoration: none;
    color: #7ad06c;
}

.github-a:visited {
    text-decoration: none;
    color: #7ad06c;
}